<div class="eqLogic-widget eqLogic noResize ecowatt" style="width: 125px;background-color:#bdc3c7; padding : 0px; #style#" data-eqLogic_id="#id#" data-version="dashboard" >
	<!--<i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 5px;" title="Rafraîchir"></i>-->
	<center><a href="#eqLink#" style="font-size : 1.5em;"> #name# </a></center>

	<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>


	<div class="row" style="margin : 4px">
		<center>
		<span style="font-weight : bold; Cursor:default">Aujourd'hui</span>
		<i class="fa fa-circle fa-lg today" style="color : #95a5a6; Cursor:default"></i>
		<br/>
		<span style="font-weight : bold; Cursor:default">Demain</span>
		<i class="fa fa-circle fa-lg tomorrow" style="color : #95a5a6; Cursor:default"></i>
		<br/>
		</center>
	</div>

	<script>
		if('#today#' == 'vert'){
			$('.eqLogic[data-eqLogic_id=#id#] .today').css('color','#2ecc71');
		}else if('#today#' == 'orange'){
			$('.eqLogic[data-eqLogic_id=#id#] .today').css('color','#e67e22');
		}else if('#today#' == 'rouge'){
			$('.eqLogic[data-eqLogic_id=#id#] .today').css('color','#e74c3c');
		}
		if('#tomorrow#' == 'vert'){
			$('.eqLogic[data-eqLogic_id=#id#] .tomorrow').css('color','#2ecc71');
		}else if('#tomorrow#' == 'prange'){
			$('.eqLogic[data-eqLogic_id=#id#] .tomorrow').css('color','#e67e22');
		}else if('#tomorrow#' == 'rouge'){
			$('.eqLogic[data-eqLogic_id=#id#] .tomorrow').css('color','#e74c3c');
		}
	</script>
</div>