<div class="eqLogic-widget eqLogic noResize ecowatt" style="width: 125px;background-color:#bdc3c7; padding : 0px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_uid="#uid#" data-eqLogic_id="#id#" data-version="#version#" >
	<span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
	<i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 5px;" title="Rafraîchir"></i>
	<center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span></a></center>

	<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
	<center style='margin-top : 5px;'>
		<span style="font-weight : bold; Cursor:default">Aujourd'hui</span>
		<i class="fa fa-circle fa-lg today" style="color : #95a5a6; Cursor:default"></i>
		<br/>
		<span style="font-weight : bold; Cursor:default">Demain</span>
		<i class="fa fa-circle fa-lg tomorrow" style="color : #95a5a6; Cursor:default"></i>
		<br/>
		<span style="color:white;margin-bottom : 0px;font-size : 15px;font-weight: bold;">Jours restants :</span>
		<br/>
	</center>
	<div style="margin-left:45px">
		<i class="fa fa-circle fa-lg" style="color : #3498db; Cursor:default"></i>
		<span> : #blue-remainingDays# / #blue-totalDays#</span><br/>
		<i class="fa fa-circle fa-lg" style="color : #ecf0f1; Cursor:default"></i>
		<span> : #white-remainingDays# / #white-totalDays#</span><br/>
		<i class="fa fa-circle fa-lg" style="color : #e74c3c; Cursor:default"></i>
		<span> : #red-remainingDays# / #red-totalDays#</span>
	</div>


	<script>
		if("#today#" == "BLEU"){
			$('.eqLogic[data-eqLogic_id=#id#] .today').css('color','#3498db');
		}else if("#today#" == "BLANC"){
			$('.eqLogic[data-eqLogic_id=#id#] .today').css('color','#ecf0f1');
		}else if("#today#" == "ROUGE"){
			$('.eqLogic[data-eqLogic_id=#id#] .today').css('color','#e74c3c');
		}
		if("#tomorrow#" == "BLEU"){
			$('.eqLogic[data-eqLogic_id=#id#] .tomorrow').css('color','#3498db');
		}else if("#tomorrow#" == "BLANC"){
			$('.eqLogic[data-eqLogic_id=#id#] .tomorrow').css('color','#ecf0f1');
		}else if("#tomorrow#" == "ROUGE"){
			$('.eqLogic[data-eqLogic_id=#id#] .tomorrow').css('color','#e74c3c');
		}
		$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
    	jeedom.cmd.execute({id: '#refresh_id#'});
  		});
	</script>
</div>
