<div class="eqLogic-widget eqLogic ecowatt" style="background-color:#bdc3c7; #style#" data-eqLogic_id="#id#" data-version="mobile" >
	<!--	<i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 5px;" title="Rafraîchir"></i>-->
	<center>#name#</center>

	<span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>


	
	<center>
		<div class="clr-bg-grey today" style="width : 70%;border: 0px;text-shadow: none !important;border-radius: 4px;padding: .7em 1em">
			Aujourd'hui<br/>
		</div>
		<br/>
		<div class="clr-bg-grey tomorrow" style="width : 70%;border: 0px;text-shadow: none !important;border-radius: 4px;padding: .7em 1em">
			Demain<br/>
		</div>
	</center>

	<script>
		if('#today#' == 'vert'){
			$('.eqLogic[data-eqLogic_id=#id#] .today').removeClass('clr-bg-grey').addClass('clr-bg-light-green');
		}else if('#today#' == 'orange'){
			$('.eqLogic[data-eqLogic_id=#id#] .today').removeClass('clr-bg-grey').addClass('clr-bg-orange');
		}else if('#today#' == 'rouge'){
			$('.eqLogic[data-eqLogic_id=#id#] .today').removeClass('clr-bg-grey').addClass('clr-bg-red');
		}
		if('#tomorrow#' == 'vert'){
			$('.eqLogic[data-eqLogic_id=#id#] .tomorrow').removeClass('clr-bg-grey').addClass('clr-bg-light-green');
		}else if('#tomorrow#' == 'orange'){
			$('.eqLogic[data-eqLogic_id=#id#] .tomorrow').removeClass('clr-bg-grey').addClass('clr-bg-orange');
		}else if('#tomorrow#' == 'rouge'){
			$('.eqLogic[data-eqLogic_id=#id#] .tomorrow').removeClass('clr-bg-grey').addClass('clr-bg-red');
		}
	</script>
</div>